/* Universal styles */
body {
  font-family:"Raleway", sans-serif;
  font-size:16px;
  box-sizing: border-box;
}
h2 {
    font-size: 1.75rem;
    color: hsl(0, 0%, 35%);
    font-weight: 800;
}
h3 {
  font-weight: 600;
  color: hsl(0, 0%, 35%);
  font-size: 1.1rem;
    line-height: 1.5;
      font-family:"Montserrat"
}
p {
  font-weight: 400;
  color: hsl(0, 0%, 35%);
  font-size:0.9rem;
  line-height: 1.5;
  font-family:"Montserrat"
}
/* Highlight text links throughout site */
a:hover {
  text-decoration: underline;
}
/* Header and navigation */
header {
  height:4rem;
  width:100%;
  display: flex;
  align-items: center;
}
.brand img {
  height: 2rem;
}
.brand h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: hsl(0, 0%, 65%);
}
.brand h1 strong {
  font-weight: 700;
  color:  hsl(0, 0%, 30%);
}
.brand {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 1.5rem;
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.nav a {
  border-right: 16px solid hsl(180, 60%, 70%);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  color:  hsl(0, 0%, 30%);
  white-space: nowrap;
}
.nav a:nth-child(0n+4) {
  border-right: none;
}
.mobile_nav {
  display: none;
}
/* 650px breakpoint*/
@media only screen and (max-width: 850px){
  header {
    justify-content: space-between;
  }
  .brand h1,
  .nav {
    display:none;
  }
  .brand {
    flex-grow: 0;
  }
  .mobile_nav {
    display:block;
  }
  .mobile_nav:last-child {
    margin-right: 1.5rem;
  }
}
/* Section 1: Intro*/
.section1 {
  display:flex;
  background-color: hsl(0, 0%, 85%);
  width:100%;
}
.section1_image_container {
  width: 60%;
  padding: 2rem 1.5rem;
}
.section1 img {
  max-width:100%;
}
.section1_rightcol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  padding-left: 1.5rem;
}
.section1_rightcol h2,
.section1_rightcol h3 {
  padding-bottom: 1.25rem;
}
.section1_rightcol h2 {
  line-height: 2rem;
}
.section1_rightcol h3 {
  line-height: 1.75rem;
}
.section1_start {
  width: 100%;
  background-color: hsl(0, 0%, 35%);
  padding:0.5rem;
  text-align: center;
  border:1px solid hsl(0, 0%, 35%);
}
.section1_start a {
  color:hsl(0, 0%, 100%);
}
/* highlight "start here" when hovering */
.section1_start:hover {
  background-color:hsl(0, 0%, 85%);
  border:1px solid hsl(0, 0%, 35%);
  color:hsl(0, 0%, 35%);
  text-decoration: none;
}
.section1_start:hover a {
  color:hsl(0, 0%, 35%);
  text-decoration: none;
}
@media only screen and (max-width: 850px){
  .section1 {
    display: block;
    width: 100%;
    padding-bottom: 2rem;
  }
  .section1_image_container  {
    width: 100%;
    padding: 0;
  }
  .section1 img {
    width:100%;
  }
  .section1_rightcol {
    display:block;
    width: auto;
    padding: 1rem 2rem;
    margin: 0;
  }
  /* Start button appears slightly lighter in mobile view */
  .section1_start {
    background-color:hsl(0, 0%, 50%);
    border:1px solid hsl(0, 0%, 50%);
    padding:0.5rem 0;
    margin: 0;
  }
  .section1_rightcol h2 {
    padding-bottom:2rem;
  }
}
/* Section2: Information */
.section2 {
  display:flex;
  justify-content: flex-start;
  width: 100%;
}
.section2_leftcol {
  max-width:60%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section2_leftcol img {
  width:100%;
}
.section2_quote {
  font-size: 0.7rem;
  color: hsl(0, 0%, 10%)
}
.section2_rightcol {
  border-left:1px solid  hsl(0, 0%, 85%);
}
.section2_rightcol img {
  width: 35%;
  height: 100%;
  padding-left:1rem;
  padding-right: 1rem;
}
.section2_rightcol_wrapper {
  padding-top:2rem;
  padding-bottom: 2rem;
}
.section2_rightcol_container {
  display: flex;
  line-height: 2;
  padding-top:1rem;
  padding-bottom:1rem;
  border-bottom:2.5px solid  hsl(0, 0%, 85%);
  width: 100%;
}
.section2_container_text p {
  padding-top: 0.5rem;
}
.section2_container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}
.section2_rightcol_container:first-child {
  padding-top: 0;
}
.section2_rightcol_container:last-child {
  background-color: hsl(0, 0%, 85%);
}
.section2_mobile {
  display: none;
}
.section2_container_link a{
  color:hsl(210, 100%, 60%);
}
@media only screen and (max-width: 850px){
  .section2_leftcol {
    display: none;
  }
  .section2_wide {
    display: none;
  }
  .section2_mobile {
    display: block;
  }
  .section2_rightcol_container {
    display: block;
    box-sizing: border-box;
    padding: 0 1rem 2rem 1rem;
    border-bottom:2.5px solid  hsl(0, 0%, 85%);
  }
  .section2_rightcol img {
    width: 100%;
    padding: 1rem 0;
  }
  .section2_container_text {
    padding-left: 1rem;
  }
  .section2_rightcol_container:last-child {
    background-color: hsl(0, 0%, 100%);
  }
}
/* Section 3: Courses  */
.section3_head,
.section4_head {
  padding:2rem 0;
  text-align: center;
}
.section3 {
  max-width:100%;
  background-color: hsl(0, 0%, 90%);
  padding: 0 4.5rem 2rem 4.5rem;
}

.section3_row {
  display:flex;
}
.section3_row_top {
  margin-bottom: 2rem;
}
.section3_item {
   background-color: hsl(0, 0%, 100%);
   width:100%;
}
.section3_item img {
   width:100%;
   height:auto;
}
.section3_item:nth-child(0n+2) {
  margin-right:1rem;
  margin-left:1rem;
}
.section3_item_text {
  padding: 1rem;
}
.section3_item_callout {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 850px){

  .section3 {
    display: block;
    background-color: hsl(0, 0%, 100%);
    padding: 0 2rem 2rem 1rem;
    border-bottom:2.5px solid  hsl(0, 0%, 85%);
  }
  .section3_head {
    padding-bottom:1rem;
  }
  .section3_row {
    display: block;
    margin-bottom: 0;
  }
  .section3_item:nth-child(0n+2) {
    margin-right:0;
    margin-left:0;
  }
  .section3_item {
    background-color: hsl(0, 0%, 85%);
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
  }
  .section3_item img,
  .section3_item p {
    display: none;
  }
}
/* Section 4: Thesis  */
.section4_head_mobile {
  display: none;
}
.section4_container {
  display:flex;
  width: 100%;
}
.section4_main{
  max-width:60%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section4_main video {
  width: 100%;
}
.section4_item {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: auto;
}
.section4_item img {
  width: 35%;
  margin: 1rem;
}
.section4_item:first-child {
  background-color: hsl(0, 0%, 85%);
}
.section4_main_text h3{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 650px){
  .section4_main{
    min-width:100%;
    padding: 0 0 2rem 0;
  }
  .section4_head {
    display:none;
  }
  .section4_head_mobile {
    display:block;
    padding-top:2rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .section4_item_container,
  .section4_main_text {
    display: none;
  }

}
/* Footer */
.footer_container {
  display:flex;
  border-top:1px solid hsl(0, 0%, 85%);
  height: 4rem;
}
.footer_text {
  flex-grow: 1;
  padding-left: 1.5rem;
  padding-top: 1rem;
}
.footer_text_wide {
  padding-top: 1rem;
}
.footer_text,
.footer_text_wide a {
  font-size: 0.7rem;
  color: hsl(0, 0%, 35%)
}
.footer_text_wide a {
  padding-right: 1rem;
}
@media only screen and (max-width: 850px){
  .footer_text_wide {
    display: none;
  }
  .footer_text {
    text-align: center;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
